
__pycache__/Deducer.cpython-38.pyc
__pycache__/PropositionalSentences.cpython-38.pyc
__pycache__/Sentences.cpython-38.pyc
__pycache__/SetTheorySentences.cpython-38.pyc
__pycache__/Utils.cpython-38.pyc
